---
import Status from "clickup_wiki/components/status/status.astro";
import { getStatusId } from "clickup_wiki/components/status/statuses";

interface Props {
  type: string;
  status: string;
}

const { type, status } = Astro.props;
const href = `#${getStatusId(type, status)}`;
---

<a href={href} class="status-link"><Status type={type} status={status} /></a>
