---
import StatusSubgroup from "@components/status-subgroup/status-subgroup.astro";
import { getStatus } from "./statuses";
import "./status.css";

interface Props {
  type: string;
  status: string;
  showSubgroup?: boolean;
}

const { type, status, showSubgroup = false } = Astro.props;
const def = getStatus(type, status);
---

<span
  class="status-dot"
  style={`background-color:${def.color}`}
  title={def.color.toUpperCase()}
  aria-hidden="true"></span><strong
  >{def.name}{
    showSubgroup && (
      <>
        {" "}
        <StatusSubgroup>{def.subgroup}</StatusSubgroup>
      </>
    )
  }</strong
>
